HOMEASSISTANT_URL=https://hass.example.com
HOMEASSISTANT_TOKEN=replace-with-home-assistant-token
LUNCHMONEY_API_TOKEN=replace-with-lunchmoney-token
LUNCHMONEY_DEBUG=true
GOOGLE_MAPS_API_KEY=replace-with-google-maps-api-key
