[Unit]
Description=Event Router
Documentation=man:evrouter(1)
BindsTo=xorg.service
After=xorg.service

[Service]
ExecStart=/usr/bin/bash -c "exec /usr/bin/evrouter -f -c $XDG_CONFIG_HOME/evrouter/evrouterrc /dev/input/event*"
ExecStartPre=-/usr/bin/rm /tmp/.evrouter${DISPLAY}

[Install]
WantedBy=graphical.target
