[Unit]
Description=Nitrogen Wallpaper Manager
Documentation=man:nitrogen(1)
BindsTo=xorg.service
After=xorg.service

[Service]
Type=oneshot
ExecStart=/usr/bin/nitrogen --restore

[Install]
WantedBy=graphical.target
