[Unit]
Description=SSH Agent
Documentation=man:ssh-agent

[Service]
Type=forking
ExecStart=/usr/bin/ssh-agent -a ${SSH_AUTH_SOCK}

[Install]
WantedBy=console.target
