[Unit]
Description=Xorg Server Instance
Documentation=man:xorg(1)

[Service]
Type=notify
ExecStartPre=/usr/bin/systemctl --user set-environment DISPLAY=:0
ExecStart=/usr/bin/xorg-launch-helper ${DISPLAY} -nolisten tcp vt${XDG_VTNR}
