[Unit]
Description=Xcape Super_L to Escape mapping
Documentation=man:xcape
BindsTo=xorg.service
After=xorg.service

[Service]
Type=forking
ExecStart=/usr/bin/xcape -t 300 -e 'Super_L=Escape'

[Install]
WantedBy=graphical.target
