[Unit]
Description=X clipboard menu
BindsTo=xorg.service
After=xorg.service

[Service]
ExecStart=/usr/bin/xcmenu

[Install]
WantedBy=graphical.target
