<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleSymbolicHotKeys</key>
	<dict>
		<!-- Dock hiding -->
		<key>52</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>

		<!-- Show launchpad -->
		<key>160</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>

		<!-- Disable spotlight search -->
		<key>64</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>
		<key>65</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>

		<!-- Application Windows -->
		<key>33</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>

		<!-- Show Desktop -->
		<key>36</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>

		<!-- Switch to desktop 1 -->
		<key>118</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>

		<!-- Show notification center -->
		<key>163</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>

		<!-- Do not disturb -->
		<key>175</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>

		<!-- Stage Manager toggle -->
		<key>222</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>

		<!-- Quick Note -->
		<key>190</key>
		<dict>
			<key>enabled</key>
			<false/>
		</dict>

		<!-- Mission control Super-W -->
		<key>32</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<integer>119</integer>
					<integer>13</integer>
					<integer>1966080</integer>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>

		<!-- Move spaces left <Super-[> -->
		<key>79</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<integer>91</integer>
					<integer>33</integer>
					<integer>1966080</integer>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>

		<!-- Move spaces right <Super-]> -->
		<key>81</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<integer>93</integer>
					<integer>30</integer>
					<integer>1966080</integer>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
